[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/u8g2-idf-adapter"]
	path = components/u8g2-idf-adapter
	url = https://github.com/XiYang6666/u8g2-idf-adapter.git
